[user]
  name = %%GITNAME%%
  email = %%GITEMAIL%% 
[diff]
  external = git_diff_wrapper
[pager]
  diff =
[color]
  ui = auto
[alias]
  st = status -a
  lg = "log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short"
  ch = checkout -
[merge]
    tool = threesome
[mergetool "threesome"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true

